.mp-slider {
    .rc-slider-track {
        background-color: #53FFFC; 
    }
    .rc-slider-handle {
        background-color:#53FFFC; 
        opacity: 1;
    }
    .rc-slider-rail {
        background-color:#3D3D3D; 
    }
}