.mp-image-upload-transparent {
    background-color: transparent !important;
    border: 2px solid #3D3D3D;
    padding: 10px;
    width: 100%;
    color: white;
    &::placeholder {
        color: #6B6B6B;
    }
}