.connect-wallet-modal {
    .wallet-cell {
        border: 1px solid #3D3D3D;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        .wallet-icon {
            width: 30px;
            margin-right: 10px;
        }
    }    
}